.section-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}
.header {
  text-align: center;
  margin-bottom: 30px;
}
.section-subcontent {
  float: right;
  font-style: italic;
}